input[type="text"] {
    display: block;
    width: 80%;
    margin: 5px auto;
    background-color: #;
}

form {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

select {
    width: 40%;
    margin: 0 auto;
    background-color: #e5e5e5
}
